h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

#cardContainer, h4 {
    font-family: 'Source Sans Pro';
}

/* movies cards */
#infoBox {
    padding: 10px 16px 16px 16px
}

#movieTitle {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.1em;
}

#overview {
    overflow-wrap: break-word;
    white-space: normal;
    color: rgb(77, 77, 77);
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 30px;
}

#date {
    color: rgba(0,0,0,0.6);
    line-height: 1em;
}

p#viewMore {
    border-top: 1px solid #e3e3e3;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-left: 16px;
    left: 0;
}

#viewMore a {
    font-size: 0.9em;
    font-weight: 400;
}

/* progress bar */ 

/* remaining-fill */
.progress-circle {
    background-color: rgb(128, 128, 128); 
    font-size: 8px;
    margin: 0px;
}

.progress-circle:after{
    background-color: black;
}

/* change text inside progress-bar */
.progress-circle span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    top: -14px;
    right: -16px;
}

/* spinner */

.fa-spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%;
    font-size: 54px
  }